<div class="modal-header">
  <span mat-dialog-title class="Title">Especialidad</span>
  <button
    id="modal-close-button"
    mat-dialog-close
    mat-mini-fab
    type="button"
    aria-label="Cerrar"
    color="basic"
    (click)="clickClosed()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<form class="FormSpeciality" mat-dialog-content [formGroup]="form!" appearance="outline">
  <mat-form-field class="" appearance="outline">
    <mat-label>Nombre de la especialidad</mat-label>
    <input type="text" matInput formControlName="name" />
    <mat-error *ngIf="form.controls['name'].hasError('required')"
      >Campo requerido</mat-error
    >
  </mat-form-field >
  <mat-form-field class="" appearance="outline">
    <mat-label>Descripción</mat-label>
    <input type="text" matInput formControlName="description" />
    <mat-error *ngIf="form.controls['description'].hasError('required')"
      >Campo requerido</mat-error
    >
  </mat-form-field>
</form>

<div class="modal-footer" mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close
    type="button"
    (click)="clickSave()"
    color="primary"
    [disabled]="submitDisabled || loading"
    class="actionBtn"
  >
    Guardar
  </button>
  <button
    mat-button
    mat-dialog-close
    type="button"
    (click)="clickClosed()"
    class="actionBtn"
  >
    Cancelar
  </button>
</div>
<!-- <app-state *ngIf="loading"> </app-state> -->
