<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span class="module-title">Informes</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <medigo-table
          emptyMessage="No hay informes para mostrar"
          emptySearchMessage="Ningún informe coincide con la busqueda"
          (clickOption)="clickAction($event)"
        ></medigo-table>
      </mat-card-content>
    </mat-card>
    <button
      mat-fab
      matTooltip="Agregar nuevo informe"
      color="accent"
      aria-label="Agregar nuevo informe"
      class="btn-fixed"
      (click)="showModal()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  