<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span class="module-title">Especialidades</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <medigo-table
        emptyMessage="No hay especialidades para mostrar"
        emptySearchMessage="Ningún especialidad coincide con la busqueda"
        (clickOption)="clickAction($event)"
      ></medigo-table>
    </mat-card-content>
  </mat-card>
  <button
    mat-fab
    matTooltip="Agregar nueva especialidad"
    color="accent"
    aria-label="Agregar nueva especialidad"
    class="btn-fixed"
    (click)="showModal()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
