<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Crear o Modificar Cita</mat-card-title>
      <button
        class="close-button"
        type="button"
        mat-fab
        color="basic"
        aria-label="Close"
        (click)="clickClosed()"
      >
        <mat-icon>undo</mat-icon>
      </button></mat-card-header
    >

    <form [formGroup]="form" class="form-control">
      <mat-card-content>
        <div class="bill-distribution">
          <mat-form-field>
            <mat-label>Especialidad</mat-label>
            <input
              type="speciality"
              name="speciality"
              id="speciality"
              formControlName="speciality"
              matInput
            />
            <mat-autocomplete
              name="speciality"
              id="speciality"
              #autoclient="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of filteredSpeciality | async"
                [value]="option"
                > </mat-option
              >
              <mat-option
                *ngIf="(filteredSpeciality | async)?.length === 0"
                disabled
                >No se encontraron especialidades</mat-option
              >
            </mat-autocomplete>
            <mat-error *ngIf="form.controls['speciality'].hasError('required')">
              Campo Requerido
            </mat-error>
            <mat-error 
              >Longitud Excedida</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Doctor</mat-label>
            <input
              type="doctor"
              name="doctor"
              id="doctor"
              formControlName="doctor"
              matInput
            />
            <mat-autocomplete
              name="doctor"
              id="doctor"
              #autoclient="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of filteredDoctors | async"
                [value]="option"
                ></mat-option
              >
              <mat-option
                *ngIf="(filteredDoctors | async)?.length === 0"
                disabled
                >No se encontraron clientes</mat-option
              >
            </mat-autocomplete>
            <mat-error *ngIf="form.controls['doctor'].hasError('required')">
              Campo Requerido
            </mat-error>
            <mat-error 
              >Longitud Excedida</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input
            matInput
            [matDatepicker]="picker"
              id="date"
              name="date"
              formControlName="date"
              [formControl]="dateControl"
              [min]="minDate"
              [max]="maxDate"
              readonly

            />
            <mat-hint>Presione el calendario</mat-hint>
            <mat-datepicker-toggle
              
            ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error>
              Seleccione una fecha mayor
            </mat-error>
            <mat-error >
              Seleccione una fecha menor
            </mat-error>
            <mat-error >
              Campo Requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Hora</mat-label>
            <input
              type="text"
              matInput
              [matDatepicker]="picker"
              id="date"
              name="date"
              formControlName="date"
              
             
              readonly
            />
            <mat-autocomplete
              name="request"

            >
              <mat-option
             
                ></mat-option
              >
              <mat-option
               
                >No se encontraron solicitudes</mat-option
              >
            </mat-autocomplete>
            <mat-error
              >Campo Requerido</mat-error
            >
            <mat-error 
              >Seleccione una opción</mat-error
            >
          </mat-form-field>

        </div>
      

    

        
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-button
          color="primary"
          [disabled]="submitDisabled"
          (click)="clickSave()"
          class="action-button"
        >
          Guardar
        </button>
        <button
          mat-button
          type="button"
          (click)="clickClosed()"
          class="action-button"
        >
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>