<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Crear o Modificar Cuenta</mat-card-title>
      <button
        class="close-button"
        type="button"
        mat-fab
        color="basic"
        aria-label="Close"
        (click)="clickClosed()"
      >
        <mat-icon>undo</mat-icon>
      </button></mat-card-header
    >

    <form [formGroup]="form" class="form-control">
      <mat-card-content>
        <div class="bill-distribution">
          <mat-form-field>
            <mat-label>Serial</mat-label>
            <input
              type="text"
              name="serial"
              id="serial"

            />
            <mat-error>
              Campo Requerido
            </mat-error>
            <mat-error 
              >Longitud Excedida</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input
              

            />
            <mat-hint>Presione el calendario</mat-hint>
            <mat-datepicker-toggle
              
            ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error>
              Seleccione una fecha mayor
            </mat-error>
            <mat-error >
              Seleccione una fecha menor
            </mat-error>
            <mat-error >
              Campo Requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Solicitud</mat-label>
            <input
              type="text"

            />
            <mat-autocomplete
              name="request"

            >
              <mat-option
             
                ></mat-option
              >
              <mat-option
               
                >No se encontraron solicitudes</mat-option
              >
            </mat-autocomplete>
            <mat-error
              >Campo Requerido</mat-error
            >
            <mat-error 
              >Seleccione una opción</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cliente</mat-label>
            <input
              type="text"
              matInput

            />
            <mat-autocomplete
              name="client"
              id="client"

            >
              <mat-option
            
                ></mat-option
              >
              <mat-option

                >No se encontraron clientes</mat-option
              >
            </mat-autocomplete>
            <mat-error 
              >Campo Requerido</mat-error
            >
            <mat-error 
              >Seleccione una opción</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Descuento</mat-label>
            <input
              type="number"
              name="discount"
              id="discount"
       
            />
            <mat-error>
              Campo Requerido
            </mat-error>
            <mat-error 
              >Longitud Excedida</mat-error
            >
            <mat-error 
              >Valor invalido</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Subtotal</mat-label>
            <input
              type="number"
              name="subtotal"
              id="subtotal"
          
            />
            <mat-error >
              Campo Requerido
            </mat-error>
            <mat-error 
              >Longitud Excedida</mat-error
            >
            <mat-error
              >Valor invalido</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Total</mat-label>
            <input
              type="number"
              name="total"
          
             
            />
            <mat-error>
              Campo Requerido
            </mat-error>
            <mat-error
              >Longitud Excedida</mat-error
            >
            <mat-error 
              >Valor invalido</mat-error
            >
          </mat-form-field>
        </div>
      

       

        <div class="item-container-buttons">
          <button
            mat-raised-button
      
          >
            <mat-icon class="add-course-btn">add</mat-icon>
            Añadir Producto
          </button>
          <button
            mat-raised-button
       
          >
            <mat-icon class="add-course-btn">add</mat-icon>
            Añadir Servicio
          </button>
        </div>
        <mat-error
         
          >La lista de items no debe estar vacía</mat-error
        >

        <!-- BILL ITEMS -->
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"

        >
          Guardar
        </button>
        <button
          mat-button
      
        >
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>