<div class="modal-header">
  <span mat-dialog-title> Titulo </span>
  <button
    id="modal-close-button"
    mat-dialog-close
    mat-mini-fab
    type="button"
    aria-label="Cerrar"
    color="basic"
    (click)="clickClosed()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<form mat-dialog-content [formGroup]="form!">
  <mat-form-field class="">
    <mat-label>Inicio</mat-label>
    <input
      type="text"
      matInput
      formControlName="start"
      [ngxMatTimepicker]="pickerA"
      [format]="12"
      readonly
      [max]="'11:00 AM'"
      [min]="'07:00 AM'"
    />
    <ngx-mat-timepicker-toggle
      (click)="pickerA.open()"
      matSuffix
    ></ngx-mat-timepicker-toggle>

    <mat-error *ngIf="form.controls['start'].hasError('required')"
      >Campo requerido</mat-error
    >
  </mat-form-field>
  <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>

  <mat-form-field class="">
    <mat-label>Fin</mat-label>
    <input
      type="text"
      matInput
      formControlName="end"
      [ngxMatTimepicker]="pickerB"
      [format]="12"
      readonly
      [max]="'12:00 PM'"
      [min]="'08:00 AM'"
    />
    <ngx-mat-timepicker-toggle
      (click)="pickerB.open()"
      matSuffix
    ></ngx-mat-timepicker-toggle>

    <mat-error *ngIf="form.controls['end'].hasError('required')"
      >Campo requerido</mat-error
    >
  </mat-form-field>
  <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>

  <mat-form-field>
    <mat-label>Dia</mat-label>
    <input
      type="text"
      matInput
      [formControl]="dayControl"
      [matAutocomplete]="autoday"
    />
    <mat-autocomplete
      name="day"
      id="day"
      #autoday="matAutocomplete"
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="let option of filteredDays | async"
        [value]="option"
        >{{ option.name }}</mat-option
      >
      <mat-option *ngIf="(filteredDays | async)?.length === 0" disabled
        >No se encontraron clientes</mat-option
      >
    </mat-autocomplete>
    <mat-error *ngIf="form.get('day')?.hasError('required')"
      >Campo Requerido</mat-error
    >
    <mat-error *ngIf="form.get('day')?.hasError('forbiddenNames')"
      >Seleccione una opción</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Doctor</mat-label>
    <input
      type="text"
      matInput
      [formControl]="doctorControl"
      [matAutocomplete]="autoclient"
    />
    <mat-autocomplete
      name="doctor"
      id="doctor"
      #autoclient="matAutocomplete"
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="let option of filteredDoctors | async"
        [value]="option"
      >
        {{ option.user?.firstName }} {{ option.user?.lastName }}</mat-option
      >
      <mat-option *ngIf="(filteredDoctors | async)?.length === 0" disabled
        >No se encontraron doctores</mat-option
      >
    </mat-autocomplete>
    <mat-error *ngIf="form.get('doctor')?.hasError('required')"
      >Campo Requerido</mat-error
    >
    <mat-error *ngIf="form.get('doctor')?.hasError('forbiddenNames')"
      >Seleccione una opción</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select
      name="available"
      formControlName="available"
      id="available"
      matSelect
      [(value)]="availableSelect"
      required
      [(value)]="selected"
      [compareWith]="compareObjects"
    >
      <mat-option *ngFor="let option of selectable" [value]="option.value">{{
        option.name
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls['available'].hasError('required')"
      >Campo Requerido</mat-error
    >
  </mat-form-field>
</form>

<div class="modal-footer" mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close
    type="button"
    (click)="clickSave()"
    color="primary"
    [disabled]="submitDisabled || loading"
  >
    Guardar
  </button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    type="button"
    (click)="clickClosed()"
  >
    Cancelar
  </button>
</div>
<!-- <app-state *ngIf="loading"> </app-state> -->
