.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-header button {
  margin-top: 1rem;
  right: 1rem;
}
.Title {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 1rem;
}
.Time {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.Time > mat-form-field {
  width: 100%;
  box-sizing: border-box;
}
.FormA {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.modal-footer {
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
  margin: 0 2rem;
}
.actionBtn {
  flex: 1 1 auto;
}
