.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 0.5rem;
}
.modal-header button {
  margin-top: -3rem;
}
.Title {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 1rem;
}
.FormA {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.modal-footer {
  justify-content: center;
  padding-bottom: 3rem;
}
