<div class="container">
  <div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-header>
            <h2>Bienvenido a</h2>
          </mat-card-header>
          <div class="image-container">
            <img src="../../../assets/logo.png" alt="logo" mat-card-img />
          </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
          <mat-tab label="Pacientes">
            <form [formGroup]="patientForm" (ngSubmit)="getDataFromPatientLogin()">
              <mat-form-field appearance="outline">
                <mat-label for="email">Correo</mat-label>
                <input name="email" formControlName="email" matInput type="email" />
                <mat-error *ngIf="form.controls['email'].hasError('email')">Correo Invalido</mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('required')">Correo Requerido</mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('maxlength')">Longitud Excedida</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label for="password">Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                  matNativeControl="text" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide" type="button">
                  <span *ngIf="hide"><mat-icon>{{ 'visibility' }}</mat-icon></span>
                  <span *ngIf="!hide"><mat-icon *ngIf="!hide">{{
                      'visibility_off'
                      }}</mat-icon></span>
                </button>
                <mat-error *ngIf="form.controls['password'].hasError('required')">Contraseña requerida</mat-error>
                <mat-error *ngIf="form.controls['password'].hasError('minlength')">8 caracteres minimos</mat-error>
                <mat-error *ngIf="form.controls['password'].hasError('maxlength')">16 caracteres maximos</mat-error>
              </mat-form-field>
              <div style="width: 100%">
                <span class="recovery-link" routerLink="/recovery-password">Restablecer contraseña</span>
              </div>
              <mat-card-actions style="width: 100%">
                <button mat-raised-button color="primary" [disabled]="submitPatientDisable || loading" type="submit">
                  Iniciar Sesión
                </button>
              </mat-card-actions>
            </form>
          </mat-tab>
          <mat-tab label="Personal Medico">
            <form [formGroup]="form" (ngSubmit)="getDataFromLogin()">
              <mat-form-field appearance="outline">
                <mat-label for="email">Correo</mat-label>
                <input name="email" formControlName="email" matInput type="email" />
                <mat-error *ngIf="form.controls['email'].hasError('email')">Correo Invalido</mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('required')">Correo Requerido</mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('maxlength')">Longitud Excedida</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label for="password">Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                  matNativeControl="text" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide" type="button">
                  <span *ngIf="hide"><mat-icon>{{ 'visibility' }}</mat-icon></span>
                  <span *ngIf="!hide"><mat-icon *ngIf="!hide">{{
                      'visibility_off'
                      }}</mat-icon></span>
                </button>
                <mat-error *ngIf="form.controls['password'].hasError('required')">Contraseña requerida</mat-error>
                <mat-error *ngIf="form.controls['password'].hasError('minlength')">8 caracteres minimos</mat-error>
                <mat-error *ngIf="form.controls['password'].hasError('maxlength')">16 caracteres maximos</mat-error>
              </mat-form-field>
              <div style="width: 100%">
                <span class="recovery-link" routerLink="/recovery-password">Restablecer contraseña</span>
              </div>
              <mat-card-actions style="width: 100%">
                <button mat-raised-button color="primary" [disabled]="submitDisable || loading" type="submit">
                  Iniciar Sesión
                </button>
              </mat-card-actions>
            </form>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>